<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>thymeleaf-servlet-example</display-name>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <filter>
        <filter-name>CustomRequestFilter</filter-name>
        <filter-class>org.example.thymeleafservletexample.web.filter.CustomRequestFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>CustomRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
